@using EntityLayer.Concrete
@model IEnumerable<Commend>
@foreach (var item in Model){
	<div class="comment-top">
		<h4>@item.CommendTitle</h4>
		<div class="media">
			<img src="/web/images/t1.jpg" alt="" class="img-fluid" />
			<div class="media-body">
				<h5 class="mt-0">@item.CommendUserName</h5>
				<p>
					@item.CommendContent
				</p>
			</div>
		</div>
	</div>
}