@{
	ViewData["Title"] = "HomeLayout";
	Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
	@await Html.PartialAsync("HeaderLayout")
	<body>
		@await Html.PartialAsync("NavBarLayout")
		<section class="main-content-w3layouts-agileits banner-bottom">
			<div class="container">
				@RenderBody()
			</div >
		</section>
		@await Html.PartialAsync("FooterLayout")
		@await Html.PartialAsync("ScriptLayout")
	</body>
</html>


