 <nav>
	<header>
		<div class="top-bar_sub_w3layouts container-fluid">
			<div class="row">
				<div class="col-md-4 logo text-left">
					<a class="navbar-brand" href="/">
						<i class="fab fa-linode"></i> Home
					</a>
				</div>
				@await Html.PartialAsync("UserLoginLayout")
				@await Html.PartialAsync("SocialMediaLayout")
			</div>
		</div>
		@await Html.PartialAsync("NavBarHeaderLayout")
	</header>
</nav>